Repository mirumee/ariadne, pull requests merged in 2019-02, with the labels that each got.

#102 [docs/modularization] Fix missing close quotation mark
  docs/modularization.rst
Labels: docs

#106 Bump version and date in docs
  docs/conf.py
Labels: docs, meta

#107 Add unions
  CHANGELOG.md
  README.md
  ariadne/__init__.py
  ariadne/unions.py
  docs/index.rst
  docs/unions.rst
  tests/test_unions.py
Labels: enhancement, roadmap
